# -------------------------
# Vagrant
# -------------------------
.vagrant/

# -------------------------
# Logs / Temp
# -------------------------
*.log
*.tmp
*.bak

# -------------------------
# OS Files
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# JetBrains / PyCharm
# -------------------------
.idea/
*.iml
out/

# -------------------------
# PowerShell
# -------------------------
*.ps1.bak

# -------------------------
# Terraform / Infra (future safe)
# -------------------------
.terraform/

# -------------------------
# VSCode (if ever used)
# -------------------------
.vscode/
